<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="" method="post">
        <p>
     <label for="username">Username</label>
     <input type="text" name="username">
 </p>
 <p>
     <label for="password">Password</label>
     <input type="password" name="password">
 </p>
 <p>
     <input type="submit" value="login" name="login">
     <input type="submit" value="registration" name="registration">
    </p>
   
    </form>
    <body bgcolor="#000000">         
    <body text="#00ff80"> 
    <body link="#5d76cb">
    <body vlink="#30d5c8">
   </body>
   </html>