<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <form action="" method="post">
      <p>
    <label for="name">Your name:</label>
    <input type="text" name="name">
     </p>
        <p>
	    <label for="login">Login:</label>
	    <input type="text" name="login">
	     </p>
         <p>
            <label for="password">Password:</label>
            <input type="password" name="password">
        </p>
        <p>
            <input type="submit" value="Sign In">
        </p>
        </form>
        <body bgcolor="#000000">         
        <body text="#00ff80"> 
        <body link="#5d76cb">
        <body vlink="#30d5c8">
    </body>
    </html>